<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <title>Мой портал</title>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a title="Мои данные" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/img/data.png" width="25" height="25">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/static/img/tools.png" width="25" height="25">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Загрузить CSV</a>
                </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST", action="/">
            <input class="form-control mr-sm-2" type="search" placeholder="Введите запрос" aria-label="Search" name="tag_search" value="{{tag}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
          </form>
          <div>{% if user_name %}
          	Привет, {{user_name}}
          	{% else %}
          	<a class="dropdown-item" href="https://api.instagram.com/oauth/authorize/?client_id=885c2706174d4e99a75f5ee3711364fd&redirect_uri=http://127.0.0.1:5000/auth&response_type=code"><img src="/static/img/login.png" width="25" height="25"></a>
          	{% endif %}
          </div>
        </div>
      </nav>
    <center><img src='https://media.giphy.com/media/sSgvbe1m3n93G/giphy.gif' id='loading'/></center>
    <iframe src="/map?tag_search={{tag}}" width="100%" height="500" align="left" hidden="true" id='iframe'></iframe>
	<script>
    	var iframe = document.querySelector('#iframe');
  		iframe.addEventListener('load', function () {
        iframe.hidden = false;
        var loding = document.querySelector('#loading');
        loading.hidden = true;
   		 });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>